* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    background-image: url("/images/image.jpg");
    background-size: cover;
}

header {
    display: flex;
    width: 100%;

}

.searcher-class {
    margin-left: auto;
    display: flex;
}

#text-input {
    padding: 3px 10px;
    background-color: rgba(139, 179, 224, 0.377);
    border: 1px solid grey;
    margin-right: 5px;
    margin-left: 5px;
}

#text-input:focus {
    background-color: rgba(139, 179, 224, 0.377);
}

#find-movie-btn {
    height: fit-content;
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    padding: 3px 10px;
    width: fit-content;
    background: rgba(139, 179, 224, 0.377);
    border: 1px solid gray;
    cursor: pointer;
}

#find-movie-btn:hover {
    background: rgba(139, 179, 224, 0.7)
}


#find-text {
    font-style: italic;
    font-size: large;
    color: blue;
}

#find-movie-text {
    text-align: center;
    font-size: large;
    color: red;
}

#text-input {
    width: 320px;
    height: 15%;
}

.genres-container {
    justify-content: center;
}

.genres-container__nested {
    width: fit-content;
    border-radius: 30pt;
    border: 2px solid rgb(250, 27, 64);
    margin: auto;
    background-color: rgba(231, 27, 250, 0.575);
}

header {
    height: 20vh;
}

hr {
    background-color: rgb(250, 27, 64);
    border: none;
    height: 2pt;
}

.genre-item {
    border:rgb(128, 74, 83);
    border-radius: 10px;
    color: rgb(250, 27, 64);
    background-color: rgba(139, 179, 224, 0.377);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    margin: 10px;
    font-size: 20pt;
    cursor: pointer;
}

button:focus {
    outline-style: none;
}
.genres-items__checkout {
    display: flex;
}

.next-container {
    text-align: end;
    width: 100%;
}
.brighter-red {
    background-color: rgba(212, 41, 64, 0.5);
}

.brighter-green {
    background-color: rgba(52, 163, 52, 0.5);   
}

#reset {
    justify-self: start;
}

#checkout {
    justify-self: end;
}