* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.desc-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.desc-container h3 {
    margin: auto;
    background-color: gold;
    color: darkmagenta;
    border: 2px solid darkmagenta;
    padding: 10px 15px;
}

.info {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: flex-end;
    height: 15rem;
}

h5 span{
    font-weight: bold;
}

#title {
    font-size: 2rem;
}

#next-btn {
    background-color: #0c285c;
    font-size: large;
    color: #f82408;
    border: 2px solid #f82408;
    padding: 10px 15px;
    cursor: pointer;
}

#next-btn:hover {
    background-color: #1b3f83;
}

#next-btn:focus{
    outline-style: none;
}

.next-btn-container {
    text-align: center;
}

.movie-element__image {
    flex: 1;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.movie-element__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movie-element__info {
    flex: 2;
    padding: 1rem;
}

.lighter {
    font-weight: lighter;
}

.film-container {
    background-color: #333;
    width: 100%;
    padding: 10px;
    background-image: url("/images/image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#movie-list {
    list-style: none;
    width: 40rem;
    max-width: 90%;
    margin: 0rem auto;
    padding: 0;
}

.movie-element {
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
    background-color: rgba(94, 105, 141, 0.76);
}

.liked {
    background-color: rgba(144, 238, 144, 0.664);
}
