* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.desc-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.desc-container h3 {
    margin: auto;
    background-color: gold;
    color: darkmagenta;
    border: 2px solid darkmagenta;
    padding: 10px 15px;
}

.info {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: flex-end;
    height: 15rem;
}

h5 span{
    font-weight: bold;
}

#title {
    font-size: 2rem;
}

#next-btn {
    background-color: gold;
    font-size: large;
    color: darkmagenta;
    border: 2px solid darkmagenta;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

#next-btn:hover {
    color: gold;
    background-color: darkmagenta;
}

#next-btn:focus{
    outline-style: none;
}

.next-btn-container {
    text-align: center;
}

.movie-element__image {
    flex: 1;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.movie-element__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movie-element__info {
    flex: 2;
    padding: 1rem;
}

.lighter {
    font-weight: lighter;
}

.film-container {
    background-color: #333;
    width: 100%;
    padding: 10px;
    background-image: url("https://image7.uhdpaper.com/wallpaper-4k/star-wars-the-rise-of-skywalker-movie-poster-rey-vs-kylo-ren-uhdpaper.com-4K-7.562.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#movie-list {
    list-style: none;
    width: 40rem;
    max-width: 90%;
    margin: 0rem auto;
    padding: 0;
}

.movie-element {
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
    background-color: white;
}

.liked {
    background-color: lightgreen;
}
